* {
    margin: 0;
    box-sizing: border-box;
    font-family:
}

:root {
    --deepbrown: #795349;
    --lightbrown: #beb6b0;
    --brightbrown: #E77C41;
    --fadebrown: #FAEDE5;
    --linebrowm:#f3e2d3;
}

@media(max-width:768px) {
    .grandparent {
        flex-direction: column;
    }
}


body {
    background-color: var(--lightbrown);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.close{
    color: var(--lightbrown);
    padding-left: 100%;
}
.grandparent {
    display: flex;
    width: 60%;


}

.left {
    flex: 1;
    background-color: var(--deepbrown);
    padding: 3rem;
}

.left img {
    width: 100%;
    height: 100%;
    object-fit: contain;


}

.right {
    flex: 1;
    padding: 3rem;
    background-color: var(--fadebrown);

}

.right img {
    width: 4rem;
    height: 4rem;
}

.right .top {
    display: flex;
    object-fit: contain;
    align-items: center;
    gap: 1rem;
}

.top h5 {
    color: var(--brightbrown);
    font-size: 1.4rem;

}

.right .first {
    color: var(--lightbrown);
    font-weight: 400;
    font-size: 0.7rem;
    border-bottom: 1px solid var(--linebrowm);
    border-top: 1px solid var(--linebrowm);
    width: 85%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 1%;
    
}

/* 
.bands{
    display: flex;
    align-items: center;
    justify-content: ;
width: 49%;
   
}
.bands .ggg{
    width: 1%;
    height: rem;
}
 */
.right .band {
    display: flex;
    gap: 1.7rem;
    font-size: 0.7rem;
    padding-top: 1rem;
    color: var(--lightbrown);
    font-weight: 500;
    padding-bottom: 1rem;
}

.band strong {
    padding-top: 5%;
    color: red;
}

.band h4 {
    padding-bottom: 0.4rem;
}

.money {
    color: var(--lightbrown);
    font-size: 0.7rem;
    padding-bottom: 0.4rem;
    padding-top: 1rem;
    border-bottom: 1px solid var(--linebrowm);
    border-top: 1px solid var(--linebrowm);
    padding-bottom: ;
    width: 85%;
}

.money h4 {
    padding-bottom: 0.3rem;
}

.money .dollar {
    color: var(--brightbrown);
    font-size: 1.1rem;

}

.pay h5 {
    color: var(--lightbrown);
    padding-top: 1rem;
    padding-bottom: 1rem;

}

.right .circle {

    border: var(--brightbrown) 1px solid;
    border-radius: 50%;
    width: 50%;
    height: 50%;
    height: 2vh;
    width: 2vh;
}

.right .paypal {
    display: flex;
    object-fit: contain;
    align-items: center;
    gap: 1rem;
    padding-bottom: 0.5rem;
}

.paypal img {
    width: 35px;
    height: 10px;
}

.dorc {
    display: flex;
    gap: 1rem;
    padding-bottom: rem;
}

.dorc strong {
    color: var(--lightbrown);
    font-size: 0.6rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 750;

}

.card {
    display: flex;
    gap: 1.5rem;
}
.debit img{
    width: 1.4rem;
    height: 1.2rem;
    object-fit: contain;
}


